@use "../../global-setting" as *;

.g-footer {
	position: relative;
	display: flex;
	background-color: $primary;
	color: $white;

	&__inner {
		position: relative;
		padding-top: 64px;
		padding-bottom: 32px;
		padding-left: 40px;
		padding-right: 40px;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;

		@include is-sp {
			padding: 40px 24px 24px 24px;
		}
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		$this: &;
		// padding-right: 8%;

		@include is-tab {
			flex-flow: column;
		}

		&--bottom {
			align-items: flex-end;
			justify-content: flex-end;
			margin-top: 40px;
			padding-top: 40px;
			// border-top: 1px solid $gray;

			@include is-tab {
				align-items: flex-start;
				padding-top: 0;
				margin-top: 48px;
			}

			@include is-sp {
				margin-top: 16px;
			}
		}
	}

	&__copyright {
		color: $white;
		@include fz(12);

		@include is-tab {
			position: relative;
			order: 2;
			margin-top: 24px;
			@include fz(11);
		}
	}
}

.g-footer-logo {
	width: 170px;

	@include is-tab {
		width: 150px;
	}

	&__txt {
		@include fz(30);
		font-weight: $medium;

		@include is-sp {
			@include fz(25);
		}
	}

	&__link {
		display: block;
		color: $primary;
		font-weight: $medium;
	}

	&__img {
		max-height: 70px;
		width: auto;

		@include is-tab {
			max-height: 40px;
		}
	}
}

.g-footer-nav {
	display: flex;
	gap: 40px;

	@include is-tab {
		flex-wrap: wrap;
		gap: 16px 40px;
		justify-content: flex-start;
		margin-top: 48px;
	}

	@include is-sp {
		margin-top: 32px;
	}

	&__list {
		display: flex;
		// flex-direction: column;
		gap: 32px;

		@include is-sp {
			flex-direction: column;
			gap: 0;
		}
	}

	&__item {
		@include is-sp {
			min-width: 106px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		transition: 0.3s;
		color: $white;
		// font-weight: $bold;

		@include is-sp {
			@include fz(14);
			padding: 8px 0;
		}

		&[target="_blank"]::after {
			content: "";
			display: block;
			width: 7px;
			height: 7px;
			margin-left: 10px;
			border: 1px solid currentColor;
			box-shadow: 1px 1px 0 $white, 2px 2px 0 currentColor;
		}

		@media screen and (min-width: $breakpoint-tab-min) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

// .g-footer-sub-nav {
// 	@include is-tab {
// 		position: relative;
// 		order: 1;
// 	}

// 	&__list {
// 		display: flex;
// 		gap: 32px;

// 		@include is-sp {
// 			gap: 24px;
// 		}
// 	}

// 	&__link {
// 		display: flex;
// 		align-items: center;
// 		@include fz(12);
// 		color: $white;
// 		transition: 0.3s;

// 		&[target="_blank"]::after {
// 			content: "";
// 			display: block;
// 			width: 7px;
// 			height: 7px;
// 			margin-left: 10px;
// 			border: 1px solid currentColor;
// 			box-shadow: 1px 1px 0 #fff, 2px 2px 0 currentColor;
// 		}

// 		@media screen and (min-width: $breakpoint-tab-min) {
// 			&:hover {
// 				color: $primary;
// 			}
// 		}
// 	}
// }
