@use "../../global-setting" as *;

.g-sidebar {
	$this: &;
	display: flex;
	flex-direction: column;
	word-break: break-all;

	& > * {
		&:not(:last-child) {
			margin-bottom: 56px;

			@include is-sp {
				margin-bottom: 44px;
			}
		}
	}

	&__searchform {
		margin-bottom: 32px !important;

		@include is-sp {
			margin-bottom: 56px !important;
			order: 2;
		}
	}

	&__popular-posts {
		@include is-sp {
			order: 1;
			margin-bottom: 56px !important;
		}
	}

	&__cats {
		@include is-sp {
			order: 3;
		}
	}

	&__tags {
		@include is-sp {
			order: 4;
		}
	}

	.c-tag {
		font-weight: $bold;
		padding: 6px 10px;

		@include is-sp {
			@include fz(12);
		}
	}

	&__ttl {
		position: relative;
		display: flex;
		align-items: center;
		// margin-top: 40px;
		margin-bottom: 24px;
		@include fz(20);
		font-weight: $bold;
		line-height: 1.4;

		@include is-sp {
			margin-bottom: 24px;
		}

		&--cat {
			@include is-sp {
				margin-bottom: 16px;
			}
		}
		&--tag {
			@include is-sp {
				margin-bottom: 20px;
			}
		}
	}

	&__ttl-icon {
		margin-right: 8px;
	}
}

.g-sidebar-posts {
	.c-post {
		&:not(:first-child) {
			margin-top: 40px;
		}
	}
}

.g-sidebar-cats {
	$this: &;
	display: grid;
	gap: 8px;

	&__link {
		position: relative;
		display: grid;
		grid-template: auto auto/1fr auto;
		color: $primary;
		@include fz(14);
		font-weight: $bold;
		line-height: 1.6;
		padding: 6px;
		transition: background-color 0.3s;

		&:hover {
			background-color: $white-gray;

			#{$this}__icon {
				opacity: 1;
			}
		}
	}

	&__ttl {
		grid-area: 1;
	}

	&__desc {
		grid-area: 2;
		color: $secondary;
		@include fz(12);
		line-height: 1.4;
	}

	&__icon {
		align-self: center;
		grid-area: 1/2/3;
		opacity: 0;
		transition: opacity 0.3s;
	}
}

.g-sidebar-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
