@use "../../global-setting" as *;

.c-accordion {
  position: relative;
  $this: &;

  &.is-active {
    #{$this}__btn {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

		// #{$this}__target{
		// 	display: block;
		// }
  }

  &__btn {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      // left: 50%;
      right: 32px;
      transform: translateY(-50%);
      width: 24px;
      height: 4px;
      background-color: $white;
      border-radius: $radius-round;
      transition: $transition;

      @include is-sp {
        width: 12px;
      }
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  // &__target {
  //   display: none;
	// 	transition: $transition;
  // }
}
