@use "../../global-setting" as *;

.c-btn {
	&--left {
		a,
		button {
			margin-right: auto;
		}
	}
	&--right {
		a,
		button {
			margin-left: auto;
		}
	}
	&--center {
		a,
		button {
			margin: 0 auto;
		}
	}
}

.c-border-btn {
	a,
	button {
		// display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 320px;
		width: 100%;
		padding: 16px 0;
		height: 56px;
		border: 1px solid $gray;
		color: $primary;
		text-align: center;
		transition: $transition;

		border-radius: $radius-round;

		@include is-sp {
			max-width: 100%;
			height: 56px;
		}
	}

	&--white {
		a,
		button {
			border: 2px solid $white;
			color: $white;
		}
	}
}


.c-btn {
	a,
	button {
		background: transparent;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		max-width: 264px;
		width: 100%;
		height: 56px;
		padding: 8px 16px;
		color: $primary;
		transition: 0.3s;
		font-weight: $bold;
		z-index: 0;
		background-color: $white;
		border-radius: $radius-round;

		@include is-sp {
			max-width: 100%;
			height: 56px;
		}

		@media screen and (min-width: $breakpoint-tab-min) {
			&:hover {
				opacity: 0.7;
				// background-color: $white-gray2;
				// box-shadow: none;
				// transform: translateY(2px);
			}
		}
	}

	// KVボタン
	&--kv {
		a {
			max-width: 264px;
			width: 100%;
			height: 56px;

			@include is-sp {
				height: 48px;
			}
		}
	}

	&--cv {
		a {
			position: relative;
			background-image: linear-gradient(to right, $green1 0%, $green2 100%);
			color: $white;

			@media screen and (min-width: $breakpoint-tab-min) {
				&:hover {
					&::before {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

.c-btn-modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: calc(100% + 60px);
	margin-bottom: -30px;
	margin-left: -30px;
	// padding: 23px 55px;
	height: 56px;
	background-color: $primary;
	color: $white;
	@include fz(15);
	line-height: 1;
	text-align: center;

	@include is-sp {
		border-radius: 0 0 $radius $radius;
	}
}

.c-text-btn {
	position: relative;
	padding-left: 28px;
	color: $primary;
	@include fz(14);
	letter-spacing: 0.06em;
	line-height: 1.7;
	transition: opacity 0.3s;

	&::before {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 24px;
		height: 12px;
		transform: translateY(-50%);
		background-image: url(../img/icon/arrow_black_short.svg);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";

		@include is-sp {
			width: 41px;
			height: 11px;
		}
	}
}
