@use "../../global-setting" as *;

select {
	appearance: none;
}

input[type="file"] {
	padding-top: 24px;

	@include is-sp {
		padding: 0;
	}
}

.c-form {
	display: block;
	width: 100%;
	$this: &;
	// padding: 56px 56px 32px;
	background-color: $white;

	@include is-sp {
		padding: 24px 20px 0px;
	}

	&__lead {
		margin-bottom: 64px;
		// line-height: 2;
		text-align: center;

		@include is-sp {
			@include fz(14);
			margin-bottom: 40px;
			text-align: left;
		}

		&.is-preview {
			display: none;
		}
	}

	&__note {
		@include fz(12);
		padding-top: 5px;
	}

	&__table {
		width: 100%;
	}

	&__row {
		&:not(:first-child) {
			#{$this}__ttl,
			#{$this}__cnt {
				padding-top: 32px;

				@include is-sp {
					padding-top: 0;
				}
			}

			#{$this}__ttl {
				@include is-sp {
					padding-top: 24px;
				}
			}
		}
	}

	&__ttl,
	&__cnt {
		@include is-sp {
			display: block;
		}
	}

	&__ttl {
		width: 252px;

		@include is-sp {
			width: 100%;
			padding-bottom: 8px;
			// @include fz(14);
		}
	}

	&__label {
		display: flex;
		align-items: center;
		justify-content: left;
	}

	&__label-txt {
		font-weight: $bold;
		text-align: left;
	}

	&__label-val {
		padding: 6px 12px;
		margin-left: 16px;
		background-color: $main-color;
		border-radius: $radius-round;
		color: $white;
		@include fz(14);
		line-height: 1;
		font-weight: $medium;

		@include is-sp {
			@include fz(12);
		}
	}

	&__cnt {
		// width: calc(100% - 208px);
		padding-left: 32px;

		@include is-sp {
			padding-left: 0;
			@include fz(14);
		}
	}

	&__input,
	&__textarea {
		border: 1px solid transparent;

		&:focus {
			border: 1px solid $main-color;
		}
	}

	&__input {
		width: 100%;
		height: 56px;
		padding: 0 16px;
		background-color: $white-gray;
		color: $primary;
		transition: $transition;

		@include is-sp {
			@include fz(14);
		}
	}

	&__textarea {
		width: 100%;
		height: 160px;
		padding: 16px;
		background-color: $white-gray;
		transition: $transition;

		@include is-sp {
			@include fz(14);
		}
	}

	// selectを囲む
	&__select-box {
		position: relative;
		width: 160px;

		@include is-sp {
			width: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 16px;
			bottom: 0;
			width: 5px;
			height: 5px;
			margin: auto;
			border-right: 2px solid $primary;
			border-top: 2px solid $primary;
			border-top-right-radius: 2px;
			transform: rotate(135deg);

			@include is-sp {
				right: 8px;
			}
		}

		&--short {
			width: 140px;

			@include is-sp {
				width: 100%;
			}
		}

		&--long {
			width: 100%;
		}
	}

	&__radio {
		.wpcf7-list-item.first {
			margin: 0;
		}
		.wpcf7-list-item {
			margin: 0 0 0 2em;
		}
		.wpcf7-list-item-label {
			cursor: pointer;
			display: flex;
		}
		/* デフォルトのボタン */
		input[type="radio"] {
			opacity: 0; /* デフォルトのボタンを非表示 */
			position: absolute;
		}
		/* チェック前のボタン */
		.wpcf7-list-item-label::before {
			background: $white;
			border: 1px solid $primary;
			border-radius: 100%; /* ラジオボタンっぽく丸くする */
			content: "";
			height: 1.2em;
			margin-bottom: auto;
			margin-right: 0.5em;
			margin-top: auto;
			// transition: background-color 0.5s; /* 色をじんわり変化させる */
			width: 1.2em;
		}
		/* チェック後のボタン */
		input[type="radio"]:checked + .wpcf7-list-item-label::before {
			background-color: $main-color; /* チェック後の中心の色 */
			box-shadow: inset 0 0 0 3px $white; /* 中心の色のスタイル */
		}
	}

	// error
	.wpcf7-not-valid-tip {
		margin-top: 4px;
		@include fz(14);

		@include is-sp {
			@include fz(13);
		}
	}

	&__btn-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 32px;

		@include is-tab {
			margin-bottom: 20px;
		}

		@include is-sp {
			margin-bottom: 16px;
		}

		p {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__btn {
		width: 320px;
		height: 56px;
		background-color: $main-color;
		// border: 1px solid $primary;
		color: $white;
		font-weight: $medium;
		transition: $transition;
		border-radius: $radius-round;

		@include is-sp {
			width: 100%;
		}

		@media screen and (min-width: $breakpoint-tab-min) {
			&:hover {
				opacity: 0.7;
			}
		}

		&:disabled {
			background-color: $gray;
		}
	}
}

// 同意するボタンetc
.c-form-consent {
	text-align: center;
	margin-top: 32px;

	&__desc {
		@include is-sp {
			text-align: left;
			@include fz(14);
		}
	}

	br {
		display: none;
	}
	.wpcf7-form-control-wrap {
		display: inline !important;
	}

	.wpcf7-list-item {
		margin: 0;
	}
	input[type="checkbox"] {
		opacity: 0;
		width: 22px;
	}

	.wpcf7-list-item-label {
		margin-left: 16px;

		&::before {
			content: "";
			position: absolute;
			top: calc(50% + 1px);
			left: 0;
			width: 20px;
			height: 20px;
			background-color: $white;
			border: 1px solid $primary;
			transform: translateY(-50%);
		}
	}

	input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
		content: "";
		position: absolute;
		top: calc(50% - 1px);
		left: 3px;
		transform: translateY(-50%) rotate(135deg);
		width: 13px;
		height: 5px;
		margin: 0;
		border-right: 3px solid $main-color;
		border-top: 3px solid $main-color;
		cursor: pointer;
	}

	&__checkbox {
		margin-top: 16px;
	}
}
