@use "../../global-setting" as *;

.c-pagetop {
	position: absolute;
	right: 0;
	bottom: 0;
	// width: 64px;
	// height: 100%;
	overflow: hidden;
	// background-color: $primary;
	// color: $white;

	line-height: 1;
	z-index: 3;
	transition: 0.3s;

	$this: &;

	@media screen and (min-width: $breakpoint-tab-min) {
		&:hover {
			#{$this}__link {
				padding-bottom: 60px;

				// a::before {
				//   box-shadow: none;
				//   background-color: $white-gray2;
				//   transform: translateY(-1px);
				//   transform: translateY(-8px);
				// }
			}
		}
	}

	// @include is-tab {
	//   width: 48px;
	//   height: 180px;
	// }

	// @include is-sp {
	//   right: 0px;
	//   width: 48px;
	//   height: 180px;
	// }

	&__link {
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// z-index: 3;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		// width: 264px;
		// height: 64px;
		border-radius: 40px 0 0 0;
		background-color: $primary;
		width: 64px;
		padding: 48px 0 32px;
		// height: 184px;
		// padding: 32px 0;
		color: $white;
		@include fz(13);
		font-weight: $bold;
		writing-mode: vertical-rl;
		// color: $white;
		letter-spacing: 0.1em;
		cursor: pointer;
		transition: 0.3s;
		// transform: rotate(90deg) translate(-70px, -34px);
		// transform-origin: 0;

		// @include is-tab {
		//   // height: 180px;
		//   width: 180px;
		//   height: 48px;
		//   // padding: 16px 20px;
		//   // text-align: right;
		//   transform: rotate(90deg) translate(-40px, -26px);
		// }

		@include is-sp {
			//   transform: rotate(90deg) translate(-24px, -24px);
			// padding-bottom: 16px;
			width: 48px;
			padding: 40px 0 24px;
		}

		&::before {
			content: "";
			position: relative;
			// top: 40px;
			display: inline-block;
			width: 24px;
			height: 12px;
			background-image: url(../img/icon/arrow_white.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			// background-color: $primary;
			transition: $transition;
			// border-radius: $radius-circle;
			// box-shadow: $box-shadow2;
			// border: 1px solid $color-shadow-gray;
			transform: rotate(-90deg);
			transition: 0.3s;
		}
	}

	&__text {
		padding-top: 32px;

		@include is-sp {
			padding-top: 20px;
		}
	}
}
