@use "../../global-setting" as *;

.c-post {
	display: block;
  $this: &;

  &:hover {
    #{$this}__ttl {
      text-decoration: underline;
    }
  }

  &__figure {
    margin-bottom: 8px;
  }

  &__img {
    border-radius: $radius-sm;
  }

  &__ttl {
    @include el(4);
    @include fz(14);
    font-weight: $bold;
    line-height: 1.6;
  }
}
