@use "../../global-setting" as *;

.c-post-case {
	display: block;
	$this: &;
	background-color: $white;
	border-radius: $radius;
	overflow: hidden;
	box-shadow: $box-shadow-post;
	transition: $transition;
	$this: &;

	&:hover {
		box-shadow: none;
		transform: translateY(2px);

		#{$this}__content {
			border: 1px solid $color-border-gray;
			border-top: 0;
		}
	}

	&__content {
		position: relative;
		padding: 20px 24px 24px;
		border-radius: 0 0 $radius $radius;
		border: 1px solid transparent;
		border-top: 0;
		transition: $transition;

		&--qr {
			padding: 56px 24px 24px;
		}
	}

	&__qr {
		position: absolute;
		top: 0px;
		transform: translateY(-50%);
		width: 80px;
		height: 80px;
	}

	&__ttl {
		@include el(4);
		@include fz(18);
		font-weight: $semi-bold;
		line-height: 1.6;
	}

	&__company {
		border-bottom: 1px solid $color-border-gray;
		@include fz(14);
		font-weight: $regular;
		padding: 20px 0 12px;
		padding: 12px 0 12px;
		margin-bottom: 8px;
	}

	&__info {
		display: flex;
		@include fz(12);
		font-weight: $regular;
		margin-top: 4px;
	}

	&__dt {
		min-width: 72px;
	}

	&__dd {
	}

	&__meta {
		display: flex;
		margin-top: 16px;

		.c-tags {
			gap: 4px;
			// flex-direction: column;
		}

		.c-tag {
			border-color: $color-border-gray2;
			color: $primary;
			// padding: 0;
			// border: none;
			// line-height: 1.5;

			@include is-sp {
				@include fz(12);
			}
		}
	}

	.c-shadow-btn a {
		// max-width: 100%;
		// height: 48px;
		// max-width: 100%;
		height: 40px;
		max-width: 220px;
		@include fz(14);

		@include is-sp {
			height: 44px;
			max-width: 100%;
		}
	}
}
