@use "../../global-setting" as *;

/* 検索フォームのチェックボックス */
.c-select-table {
	@include fz(14);
	border-top: 1px solid $color-border-gray2;
	$this: &;

	@include is-sp {
		border: none;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid $color-border-gray2;
	}

	&__head {
		width: 180px;
		// padding: 8px 15px;
		padding: 20px 0;
		// background-color: $white-gray;
		// background-color: $main-color-pale;
		// border-radius: $radius-lg;
		font-weight: $bold;
		text-align: left;

		@include is-sp {
			width: 100%;
			padding: 16px;
			background-color: $white-gray;
		}
	}

	&__body {
		width: calc(100% - 180px);
		display: flex;

		@include is-sp {
			width: 100%;
		}
	}

	&__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		@include is-sp {
			// border-top: 1px solid $color-border-gray2;
		}
	}

	&__item {
		display: flex;
		width: calc(100% / 4);

		@include is-tab {
			width: calc(100% / 3);
		}

		@include is-sp {
			width: 100%;
		}

		&:not(:first-child) {
			@include is-sp {
				border-top: 1px solid $color-border-gray2;
			}
		}
	}

	&__label {
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		padding: 8px;
		border-radius: $radius-sm;
		// overflow: hidden;

		@include is-sp {
			// padding: 8px 8px 8px 30px;
			padding: 8px 8px 8px 16px;
		}

		&:hover {
			// background-color: $yellow-pale;
		}

		&--no-event {
			color: $gray;
			pointer-events: none;

			#{$this}__link {
				color: $gray;
			}

			.c-checkbox::before {
				border-color: $white-gray;
			}
		}
	}

	&__link {
		// color: $blue-link;
		position: relative;
		color: $blue;

		&:hover {
			// text-decoration: underline;
		}
	}

	&--top {
		border: none;
		border-top: 2px solid $color-border-gray2;
		border-bottom: 2px solid $color-border-gray2;

		#{$this}__row {
			border: none;

			&:not(:last-child) {
				@include is-sp {
					margin-bottom: 8px;
				}
			}
		}

		#{$this}__head {
			@include is-sp {
				background-color: $white-gray;
				@include fz(16);
				padding: 8px 16px;
				margin-bottom: 4px;
			}
		}

		#{$this}__body {
		}

		#{$this}__list {
			padding: 8px 0 8px 8px;

			@include is-sp {
				border: none;
				padding: 0;
			}
		}

		#{$this}__item {
			width: unset;

			&:not(:first-child) {
				@include is-sp {
					border: none;
				}
			}
		}

		#{$this}__label {
			width: unset;
			cursor: auto;
			padding: 0;

			&--no-event {
				#{$this}__link {
					text-decoration: none;
					background-color: transparent;
				}
			}
		}

		#{$this}__link {
			padding: 8px;
			text-decoration: underline;
			// background-color: $yellow-pale;
			// border-radius: $radius-sm;

			@include is-sp {
				padding: 4px;
				// @include fz(16);
			}
		}
	}
}
