@use "../../global-setting" as *;

.c-text-link {
	color: $main-color;
	transition: opacity 0.3s ease;

	@media screen and (min-width: $breakpoint-tablet-min) {
		&:hover {
			opacity: $opacity;
		}
	}

	&--underline {
		text-decoration: underline;
	}
}
