@use "../../global-setting" as *;

.u-mt{
	&-0{
		margin-top: 0;
	}
	&-10{
		margin-top: 10px;
	}
	&-15{
		margin-top: 15px;
	}
	&-20{
		margin-top: 20px;
	}
	&-25{
		margin-top: 25px;
	}
	&-30{
		margin-top: 30px;
	}
	&-40{
		margin-top: 40px;
	}
	&-50{
		margin-top: 50px;
	}
	&-60{
		margin-top: 60px;
	}
	&-70{
		margin-top: 70px;
	}
	&-80{
		margin-top: 80px;
	}
	&-90{
		margin-top: 90px;
	}
}

.u-mb{
	&-0{
		margin-bottom: 0;
	}
	&-10{
		margin-bottom: 10px;
	}
	&-15{
		margin-bottom: 15px;
	}
	&-25{
		margin-bottom: 25px;
	}
	&-20{
		margin-bottom: 20px;
	}
	&-30{
		margin-bottom: 30px;
	}
	&-40{
		margin-bottom: 40px;
	}
	&-50{
		margin-bottom: 50px;
	}
	&-60{
		margin-bottom: 60px;
	}
	&-70{
		margin-bottom: 70px;
	}
	&-80{
		margin-bottom: 80px;
	}
	&-90{
		margin-bottom: 90px;
	}
}
