@use "../../global-setting" as *;

.p-404 {
	position: relative;
	width: 100%;
	padding: 60px 0 140px;

	@include is-sp {
		padding: 0px 0 64px;
	}

	&__inner {
		position: relative;
		width: 84.375%;
		max-width: $content-width;
		margin: auto;
		z-index: 4;
		text-align: center;

		@include is-sp {
			width: 84%;
			text-align: left;
		}
	}

	.c-section-ttl__main {
		@include fz(32);

		@include is-tab {
			line-height: 1.3;
		}

		@include is-sp {
			@include fz(24);
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 64px;
	}
}
