@use "../../global-setting" as *;

.p-privacy {
	position: relative;
	padding-bottom: 140px;
	@include fz(14);

	@include is-sp {
		padding-bottom: 64px;
	}

	&__ttl {
		position: relative;
		font-weight: $bold;
		display: block;
		@include fz(28);
		font-weight: $bold;
		letter-spacing: 0.06em;
		line-height: 2;

		@include is-sp {
			@include fz(20);
		}
	}

	&__txt {
		margin-bottom: 40px;
	}
	&__signature {
		text-align: right;
		margin-top: 64px;
	}

	&__list {
		counter-reset: item 0;
	}

	&__item {
		position: relative;
		margin-bottom: 40px;
		padding: 0 0 0 24px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			@include fz(16);
			font-weight: $bold;
			color: #222;
			content: counter(item) ".";
			counter-increment: item 1;
			align-self: center;
		}
	}

	&__item-ttl {
		@include fz(16);
		font-weight: $bold;
		margin-bottom: 14px;
		padding-bottom: 8px;
		border-bottom: 1px solid #222;
	}

	&__item-txt {
		margin-bottom: 20px;
	}

	&__item-order {
		counter-reset: order 0;
	}

	&__item-order-item {
		position: relative;
		margin: 0 0 10px;
		padding: 0 0 0 24px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			line-height: 1.3;
			color: #222;
			content: counter(order) ".";
			counter-increment: order 1;
			align-self: center;
		}
	}
}

.p-tradelaw-list {
	@include fz(16);

	li {
		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}
