@use "../../global-setting" as *;

.p-single-case {
	font-weight: $regular;
	padding-top: 120px;

	@include is-sp {
		padding-top: 40px;
	}

	&__btn {
		margin-top: 32px;

		a {
			margin: 0 auto;

			&:hover {
				transform: translateY(-2px);
			}
		}
	}

	&__qr {
		display: block;
		width: 120px;
		height: 120px;
		margin: 32px auto 0;
	}

	@include is-sp {
		&__content {
			margin-bottom: 40px;
		}
	}
}

.p-single-case-bottom {
	margin-top: 80px;
	padding: 80px 0 120px;
	background-color: $white-gray;

	@include is-sp {
		margin-top: 64px;
		padding: 64px 0 80px;
	}
}

// 課題 解決策 効果
.p-single-case-summary {
	padding: 40px 80px 40px 64px;
	margin: 40px auto;
	background-color: $white-gray;
	border-radius: $radius-sm;

	$this: &;

	@include is-sp {
		margin: 60px -9.26%;
		padding: 25px 10px;
	}

	&__list {
	}
	&__item {
		position: relative;
		padding-left: 112px;
		list-style: none;
		min-height: 88px;
		display: flex;
		align-items: center;

		@include is-sp {
			padding-left: 90px;
			min-height: 72px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;

			@include is-sp {
				margin-bottom: 30px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				bottom: -20px;
				left: 40px;
				width: 8px;
				background-color: $gray2;

				@include is-sp {
					left: 32px;
					bottom: -36px;
				}
			}
		}

		&:nth-child(2) {
			#{$this}__dt {
				color: $blue-thick;
				background-color: $white;
			}
			#{$this}__dd {
				&::before {
					background-color: $blue-thick;
				}
			}
		}
		&:nth-child(2) {
			#{$this}__dt {
				color: $blue-thick;
				background-color: $white;
			}
			#{$this}__dd {
				&::before {
					background-color: $blue-thick;
				}
			}
		}
		&:nth-child(3) {
			#{$this}__dt {
				color: $white;
				background-color: $blue;
			}
			#{$this}__dd {
				&::before {
					background-color: $blue;
				}
			}
		}
	}

	&__dt {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 88px;
		height: 88px;
		background-color: $gray-pale;
		border-radius: 50%;
		color: $white;
		font-weight: $medium;
		@include fz(18);

		@include is-sp {
			width: 72px;
			height: 72px;
		}
	}

	&__dd {
		padding-left: 16px;
		@include fz(14);
		position: relative;
		font-weight: $regular;
		line-height: 1.5;

		@include is-sp {
			line-height: 1.4;
			margin: 1em 0;
		}

		&:not(:first-child) {
			margin-top: 0.6em;

			@include is-sp {
				margin-top: 0;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background-color: $gray-pale;
			position: absolute;
			top: 5px;
			left: 0;
			border-radius: 50%;

			@include is-sp {
				top: 4px;
			}
		}
	}

	a {
		@include fz(14);
		text-decoration: none;
		color: $primary;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}

// サイドバー
.p-single-case__aside {
	position: sticky;
	top: calc($header-height-pc + 40px);

	@include is-sp {
		margin: 32px 0;
	}
}

.p-single-case-outline {
	border: 1px solid $color-border-gray;
	border-radius: $radius-sm;
	@include fz(14);
	margin-bottom: 24px;
	padding: 30px 0;
	width: 100%;

	&__head {
		@include fz(24);
		text-align: center;
		margin-bottom: 20px;
		line-height: 1.4;
	}

	&__logo {
		max-width: 200px;
		max-height: 100px;
	}

	&__body {
		margin: 0 auto;
		padding: 0 24px 0;
	}

	&__dl {
		display: flex;

		@include is-tab {
			display: block;
		}

		@include is-sp {
			display: flex;
		}
		// position: relative;

		&:not(:last-child) {
			margin-bottom: 0.8em;
		}
	}

	&__dt {
		// position: absolute;
		// left: 0;
		width: 88px;
		font-weight: $bold;
		color: $blue;
		line-height: 1.5;

		@include is-tab {
			width: 100%;
		}

		@include is-sp {
			width: 88px;
		}
	}

	&__dd {
		width: calc(100% - 88px);
		line-height: 1.5;
		// padding-left: 88px;
		// margin-left: auto;

		@include is-tab {
			width: 100%;
		}

		@include is-sp {
			width: calc(100% - 88px);
		}
	}
}
