@use "../../global-setting" as *;

/*------------------------------------------------------------------------
	投稿
------------------------------------------------------------------------*/
.p-single {
	font-weight: $regular;

	@include is-sp {
		display: block;
	}

	&__head {
		margin-bottom: 20px;
	}

	&__ttl {
		@include fz(32);
		font-weight: $bold;
		line-height: 1.4;

		@include is-sp {
			@include fz(22);
		}
	}

	&__meta {
		display: flex;
		gap: 8px;
		color: $secondary;
		margin-top: 16px;
	}

	&__date {
		font-family: $font-en;
		@include fz(14);
		color: $secondary;
		margin-top: 16px;
		display: block;
		letter-spacing: 0.05em;

		@include is-sp {
			@include fz(14);
		}
	}

	&__eyecatch {
		margin-top: 40px;
		margin-bottom: 0;

		@include is-sp {
			margin-top: 24px;
		}
	}

	&__eyecatch-img {
		width: 100%;
		height: auto;
		border-radius: $radius;
	}

	&__btn {
		margin-top: 40px;
		order: 4;
	}

	&__breadcrumbs {
		margin-top: 64px;
	}

	&__sns-share {
		margin-top: 40px;
	}
}

#ez-toc-container {
	background: $white-gray;
	border-radius: $radius-sm;
	margin: 40px 0;
	padding: 24px 32px;

	@include is-sp {
		padding: 16px 20px;
	}

	.ez-toc-list {
		padding-left: 32px;

		@include is-sp {
			padding-left: 20px;
		}
	}

	li {
		margin: 8px 0;
		line-height: 1.6;
		list-style: decimal;
		font-weight: $regular;
	}

	a {
		@include fz(14);
		color: $primary;
		text-decoration: none;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}

	.ez-toc-title {
		@include fz(16);
		font-weight: $bold;
		margin-bottom: 8px;
	}
}

/*------------------------------------------------------------------------
	Gutenberg
------------------------------------------------------------------------*/
.p-single__content {
	line-height: 2;

	& > p:not([class]) {
		margin: 20px 0 0;
	}

	h2:is(:not([class]), .wp-block-heading) {
		padding: 4px 0px 4px 14px;
		margin: 50px 0 20px;
		border-left: 4px solid $primary;
		@include fz(20);
		font-weight: $bold;
		line-height: 1.4;

		@include is-sp {
			@include fz(18);
		}
	}

	h3:is(:not([class]), .wp-block-heading) {
		margin: 30px 0 16px;
		@include fz(18);
		font-weight: $bold;
		line-height: 1.4;

		@include is-sp {
			@include fz(16);
		}
	}

	// h2,
	// h3,
	// h4,
	// h5,
	// p {
	//   & + .wp-block-image {
	//     margin-top: 20px;
	//   }
	// }

	& > ol:not([class]) {
		padding: 0 0 0 30px;
		counter-reset: order 0;
		margin: 4px 0;

		& > li:not([class]) {
			display: flex;
			position: relative;

			&::before {
				position: absolute;
				left: -30px;
				// display: inline-block;
				@include fz(16);
				color: $secondary;
				content: counter(order, decimal) ".";
				counter-increment: order 1;
				align-self: center;
			}
		}
	}

	& > ul:not(.wp-block-gallery) {
		padding: 0 0 0 20px;

		& > li {
			display: flex;
			position: relative;
			margin: 4px 0;

			&::before {
				position: absolute;
				left: -20px;
				content: "・";
				font-weight: $bold;
			}

			strong {
				word-break: keep-all;
			}
		}
	}

	b:not([class]),
	strong:not([class]) {
		font-weight: $bold;
	}

	em:not([class]) {
		font-style: italic;
	}

	a {
		@include fz(16);
		color: $blue;
		text-decoration: underline;

		@media screen and (min-width: $breakpoint-tablet-min) {
			&:hover {
				opacity: 0.7;
			}
		}
	}

	.wp-block-image {
		position: relative;
		margin: 40px 0;

		img {
			max-width: 100%;
			vertical-align: bottom;
		}

		figcaption {
			// position: absolute;
			// z-index: 1;
			// right: 0;
			// bottom: 0;
			// left: 0;
			// margin: 0;
			// padding: 1em 1.5em;
			// background: rgba(17, 17, 17, 0.3);
			// font-size: 14px;
			@include fz(14);
			// line-height: 1.5;
			// color: $white;
		}
	}

	.wp-block-table {
		width: 100%;
		min-width: 240px;
		border-collapse: collapse;
		overflow-x: auto;

		table {
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			padding: 0.5em;
			border: 1px solid;
			word-break: break-all;
		}

		&.is-style-stripes {
			border-spacing: 0;
			border-collapse: inherit;
			background-color: transparent;
			border-bottom: 1px solid #f0f0f0;
			tbody tr:nth-child(odd) {
				background-color: #f0f0f0;
			}

			td,
			th {
				border-color: transparent;
			}
		}
	}

	.wp-block-quote {
		padding: 24px 30px;
		margin: 30px 0;
		border-color: #777;
		background: #f5f5f5;

		@include is-sp {
			padding: 16px 20px;
		}
	}

	.wp-block-audio {
		audio {
			min-width: 100%;
		}

		figcaption {
			margin: 0.5em 0 0;
		}
	}

	.wp-block-video {
		video {
			width: 100%;
		}
	}

	.wp-block-file {
		.wp-block-file__button {
			position: relative;
			display: inline-block;
			overflow: hidden;
			margin: 0 0 0 20px;
			padding: 8px 24px;
			border: 2px solid $primary;
			border-radius: $radius-round;
			background-color: $white;
			@include fz(14);
			font-weight: $bold;
			color: $primary !important;
			text-align: center;
			vertical-align: middle;
			opacity: 1 !important;
			text-decoration: none;

			@include is-sp {
				width: 100%;
				margin: 10px 0 0;
			}

			@media screen and (min-width: $breakpoint-tablet-min) {
				&:hover {
					background: #222 !important;
					color: #fff !important;
				}
			}
		}
	}

	.wp-block-code {
		padding: 2em;
		border: 0;
		border-radius: 0;
		background: #222;
		color: #f5f5f5;
	}

	.wp-block-pullquote {
		border-color: #222;
		color: #222;

		p:not([class]) {
			@include is-sp {
				font-size: 22px;
				@include fz(22);
			}
		}
	}

	.wp-block-button__link {
		position: relative;
		display: inline-block;
		overflow: hidden;
		margin: 0 0 0 20px;
		padding: 8px 24px;
		border: 2px solid $primary;
		border-radius: $radius-round;
		background-color: $white;
		@include fz(14);
		font-weight: $bold;
		color: $primary !important;
		text-align: center;
		vertical-align: middle;
		opacity: 1 !important;
		text-decoration: none;

		@include is-sp {
			width: 100%;
			margin: 10px 0 0;
		}

		@media screen and (min-width: $breakpoint-tablet-min) {
			&:hover {
				background-color: $primary !important;
				color: $white !important;
			}
		}
	}

	.wp-block-separator {
		margin-right: auto;
		margin-left: auto;
		border-color: #222;

		::before {
			color: #222;
		}
	}

	.wp-block-calendar {
		caption {
			color: #222;
		}

		th:not([class]) {
			background: #f5f5f5;
		}
		a {
			display: block;
			padding: 5px 0;
			color: #222;
		}
	}

	.wp-block-embed__wrapper {
		text-align: center;
		max-width: 100%;
	}

	.wp-block-embed-youtube {
		.wp-block-embed__wrapper {
			position: relative;
			overflow: hidden;

			&::after {
				display: block;
				padding-top: 56.25%;
				content: "";
			}

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.wp-embed-aspect-4-3 .wp-block-embed-youtube .wp-block-embed__wrapper::after {
		padding-top: 75%;
	}

	.wp-embed-aspect-16-9
		.wp-block-embed-youtube
		.wp-block-embed__wrapper::after {
		padding-top: 56.25%;
	}

	.wp-block-embed-twitter {
		text-align: center;

		.wp-block-embed__wrapper {
			display: inline-block;
		}
	}

	// .addtoany_share_save_container {
	//   margin-top: 60px;
	//   text-align: center;
	// }

	// Lazy Blocks
	.wp-block-lazyblock-interview-text {
		margin: 20px 0;

		em {
			position: relative;
			padding-left: 40px;
			color: $blue;
			font-weight: $bold;
			font-style: normal;

			&::before {
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				top: 12px;
				width: 32px;
				background-color: $blue;
			}
		}
	}
}
