@use "../../global-setting" as *;

/*----------------------------------------
	ABOUT
----------------------------------------*/
.p-top-about {
	position: relative;

	&__ttl {
		text-align: center;

		@include is-sp {
			@include fz(21);
		}

		span {
			color: $blue;
		}
	}

	&__desc {
		margin-top: 24px;
	}

	&__body {
		justify-content: center;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		row-gap: 40px;

		@include is-sp {
			flex-direction: column;
			align-items: center;
		}
	}
}

.p-top-about-item {
	width: calc((100% - 120px) / 4);
	column-gap: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include is-sp {
		width: 100%;
	}

	&__thumb {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $radius-circle;
		overflow: hidden;
		background-color: $blue-pale;
		width: 100%;

		@include is-sp {
			max-width: 200px;
		}
	}

	&__figure {
		img {
			object-fit: contain;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
		}
	}

	&__desc {
		margin-top: 32px;
		text-align: center;

		@include is-sp {
			margin-top: 20px;
			@include fz(16);
		}
	}
}
