@use "../../global-setting" as *;

.p-top-flow {
	position: relative;

	&.is-no-btn {
		@include is-sp {
			padding-bottom: 32px;
		}
	}

	.scroll-hint-icon-wrap {
		z-index: $zindex-scroll-hint;
	}

	.scroll-hint-icon {
		top: calc(50% - 16px);
		transform: translateY(-50%);
		height: 90px;
	}

	&__ttl {
		text-align: center;

		span {
			color: $blue;
		}
	}

	&__desc {
		margin-top: 24px;
	}

	&__body {
		position: relative;
	}

	&__list {
		position: relative;
		display: flex;
		justify-content: space-between;
		row-gap: 24px;
		width: 100%;

		@include is-sp {
			@include l-window-full();
			overflow-x: scroll;
			padding-bottom: 32px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 110px;
			right: 5vw;
			top: 44px;
			background-color: $blue;
			height: 2px;
			z-index: -1;

			@include is-sp {
				width: 800px;
				// left: 50%;
				right: unset;
				// transform: translateX(-50%);
			}
		}
	}
}

.p-top-flow-item {
	width: 220px;
	column-gap: 32px;
	counter-increment: item;
	z-index: 1;
	text-align: center;

	@include is-sp {
		width: 200px;
		flex-shrink: 0;
	}

	&__index {
		display: flex;
		width: 88px;
		height: 88px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $blue;
		border-radius: $radius-circle;
		border: 2px solid $blue;
		margin: 0 auto;
		background-color: $white;
		font-family: $font-en;
		font-weight: $semi-bold;
		line-height: 1.2;
		letter-spacing: 0.04em;

		&::after {
			content: "0" counter(item);
			display: block;
		}
	}

	&__ttl {
		margin-top: 16px;
		@include fz(20);
		font-weight: $bold;
		line-height: 1.6;

		@include is-sp {
			@include fz(16);
		}
	}

	&__desc {
		margin-top: 8px;
		text-align: center;
		color: $secondary;
		line-height: 1.6;

		span {
			display: block;
			@include fz(12);
		}
	}
}
