@use "../../global-setting" as *;

.p-top-sns {
	position: relative;

	.c-section__body {
		margin-top: 24px;
		margin-right: -16px;
		margin-left: -16px;
		margin-bottom: -16px;
	}

	#sb_instagram {
		padding-bottom: 0 !important;
	}

	// #sbi_images {
	// 	padding-top: 0 !important;
	// 	padding-bottom: 0 !important;
	// }
}
