@use "../../global-setting" as *;

.p-top-course {
	$this: &;
	padding-top: 120px;

	@include is-sp {
		padding-top: 64px;
	}

	&__inner {
		max-width: 1360px;
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: 48px;
		width: 100%;
		// padding: 0 48px;

		@include is-sp {
			gap: unset;
			justify-content: unset;
		}
	}

	&__slider {
		width: 100%;
		margin: 0 auto;
		overflow: visible;
	}
}

.p-top-course-item {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 8px 8px 0 $main-color-light;
	padding: 24px 32px;
	height: 100%;
	width: calc(100% / 3 - 32px);
	// max-width: 560px;
	// width: 100%;
	$this: &;
	padding-top: 112px;
	border: 1px solid $main-color-light;

	@include is-sp {
		padding: 96px 12px 16px;
	}

	&.p-top-course-item--basic {
		box-shadow: 8px 8px 0 $main-color-light;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color-light;
		}
	}

	&.p-top-course-item--standard {
		border-color: $main-color;
		box-shadow: 8px 8px 0 $main-color;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color;
		}
	}

	&.p-top-course-item--premium {
		border-color: $main-color-dark;
		box-shadow: 8px 8px 0 $main-color-dark;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color-dark;
		}
	}

	&__inner {
		padding: 10px;
	}

	&__label {
		position: absolute;
		max-width: 302px;
		width: 100%;
		top: 24px;
		right: 0;
		white-space: nowrap;
		color: $white;
		// font-weight: $bold;
		background-color: $main-color-light;
		padding: 16px 24px;
		text-align: center;

		@include is-sp {
			padding: 12px 20px;
			max-width: calc(100% - 20px);
			@include fz(14);
			top: 20px;
		}
	}

	&__ttl {
		@include fz(20);
		text-align: center;
		font-weight: $bold;

		@include is-sp {
			@include fz(18);
		}
	}

	&__price {
		text-align: center;
		font-weight: $bold;
		@include fz(28);

		@include is-sp {
			@include fz(24);
		}

		.tax {
			@include fz(14);
			font-weight: $regular;
		}
	}

	&__list {
		margin-top: 24px;

		@include is-sp {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	&__item {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 16px;

			@include is-sp {
				margin-bottom: 8px;
			}
		}
	}

	&__desc {
		display: flex;

		@include is-sp {
			@include fz(14);
		}

		.c-icon-check-circle {
			position: relative;
			top: 3px;
			min-width: 20px;
			margin-right: 8px;
		}
	}
}

.p-top-course-slider-btn {
	margin-top: -48px;
	display: none;

	@include is-sp {
		display: flex;
		margin-top: -8px;
	}

	&--prev {
		left: -16px;
	}

	&--next {
		right: -16px;
	}
}

.p-top-course-slider__pagination {
	position: relative;
	margin-top: 40px;
	display: none;

	@include is-sp {
		display: block;
	}

	.swiper-pagination-bullet {
		background-color: $secondary;
	}

	.swiper-pagination-bullet-active {
		background-color: $main-color;
	}
}
