@use "../../global-setting" as *;

.p-top-flow {
	position: relative;

	@include is-sp {
		// padding-bottom: 32px;
	}

	// &__body {
	// 	padding-top: 22px;
	// }

	.scroll-hint-icon-wrap {
		z-index: $zindex-scroll-hint;
	}

	.scroll-hint-icon {
		top: calc(50% - 16px);
		transform: translateY(-50%);
		height: 90px;
	}

	&__list {
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: 40px;
		width: 100%;
		padding-top: 22px;

		@include is-sp {
			@include l-window-full();
			overflow-x: scroll;
			padding-bottom: 32px;
			gap: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 155px;
			right: 155px;
			top: 10px;
			height: 0;
			z-index: -1;
			border-top: 1px dashed $main-color;

			@media screen and (max-width: 1115px) {
				left: 12vw;
				right: 12vw;
			}

			@include is-sp {
				left: 35vw;
				right: unset;
				width: 480px;
			}
		}
	}
}

.p-top-flow-item {
	position: relative;
	// width: 352px;
	width: calc(100% / 3 - 26.6666666667px);
	z-index: 1;
	text-align: center;
	$this: &;

	@include is-sp {
		width: 224px;
		flex-shrink: 0;
	}

	&:nth-child(1) {
		@include is-sp {
			margin-left: $side-padding-sp;
		}

		#{$this}__index {
			background-image: url(../img/step_01.png);
		}
	}
	&:nth-child(2) {
		#{$this}__index {
			background-image: url(../img/step_02.png);
		}
	}
	&:nth-child(3) {
		@include is-sp {
			margin-right: $side-padding-sp;
		}

		#{$this}__index {
			background-image: url(../img/step_03.png);
		}
	}

	&__index {
		display: flex;
		width: 48px;
		width: 56px;
		height: 73px;
		height: 85px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&::before {
			content: "";
			position: absolute;
			top: -18px;
			display: block;
			width: 13px;
			height: 13px;
			background-color: $main-color;
			transform: rotate(45deg);
		}
	}

	&__ttl {
		margin-top: 16px;
		@include fz(20);
		font-weight: $bold;

		@include is-sp {
			@include fz(16);
			margin-top: 12px;
		}
	}

	&__desc {
		margin-top: 16px;
		text-align: center;
		color: $secondary;

		@include is-sp {
			@include fz(12);
			margin-top: 12px;
		}

		span {
			display: block;
			@include fz(12);
		}
	}
}
