@use "../../global-setting" as *;

.p-top-course {
	$this: &;

	&__list {
		display: flex;
		justify-content: center;
		gap: 48px;
		width: 100%;
		padding: 0 48px;

		@include is-sp {
			gap: 0;
		}
	}
}

.p-top-course-item {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 8px 8px 0 $main-color-light;
	padding: 24px 32px;
	height: 100%;
	width: calc(100% / 3 - 32px);
	max-width: 560px;
	width: 100%;
	$this: &;
	padding-top: 112px;
	border: 1px solid $main-color-light;

	&:nth-child(1) {
		box-shadow: 8px 8px 0 $main-color-light;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color-light;
		}
	}
	&:nth-child(2) {
		border-color: $main-color;
		box-shadow: 8px 8px 0 $main-color;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color;
		}
	}
	&:nth-child(3) {
		border-color: $main-color-dark;
		box-shadow: 8px 8px 0 $main-color-dark;

		#{$this}__label,
		.c-icon-check-circle {
			background-color: $main-color-dark;
		}
	}

	&__label {
		position: absolute;
		max-width: 302px;
		width: 100%;
		top: 24px;
		right: 0;
		white-space: nowrap;
		color: $white;
		// font-weight: $bold;
		background-color: $main-color-light;
		padding: 16px 24px;
		text-align: center;
	}

	&__ttl {
		@include fz(20);
		text-align: center;
		font-weight: $bold;
	}

	&__price {
		text-align: center;
		font-weight: $bold;
		@include fz(28);

		.tax {
			@include fz(14);
			font-weight: $regular;
		}
	}

	&__list {
		margin-top: 24px;
	}

	&__item {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__desc {
		display: flex;

		.c-icon-check-circle {
			position: relative;
			top: 3px;
			min-width: 20px;
			margin-right: 8px;
		}
	}
}
