@use "../../global-setting" as *;

.p-top-contact {
	position: relative;
	background-color: $main-color-bg;

	@include is-tab {
		padding-left: $side-padding-tab;
		padding-right: $side-padding-tab;
	}

	@include is-sp {
		padding-left: $side-padding-sp;
		padding-right: $side-padding-sp;
	}

	&__inner {
		background-color: $white;
		padding: 80px;
		// max-width: 1120px;

		@include is-tab {
			// padding-left: $side-padding-sp;
			// padding-right: $side-padding-sp;
			padding: 40px 0 0 0;
		}
	}

	&__body {
		width: 100%;

		@include is-tab {
			margin-top: 32px;
		}
	}

	&__form {
		width: 100%;
	}

	.c-form {
		@include is-sp {
			padding: 0;
		}
	}
}
