@use "../../global-setting" as *;

.p-top-reason {
	position: relative;

	@include is-sp {
		padding-bottom: 68px;
	}

	&__ttl {
		text-align: center;
	}

	&__list {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
	}

	.u-big-text {
		font-size: 150%;
	}
}

.p-top-reason-item {
	position: relative;
	counter-increment: section;
	$this: &;
	// margin-top: 7vw;
	display: flex;
	gap: 64px;

	@include is-sp {
		margin-top: 0;
		flex-direction: column;
		gap: 32px;
	}

	& + #{$this} {
		margin-top: 80px;

		@include is-sp {
			margin-top: 64px;
		}
	}

	&:nth-child(even) {
		#{$this}__content {
			order: 2;

			@include is-sp {
				order: 1;
			}
		}

		#{$this}__image {
			order: 1;

			@include is-sp {
				order: 2;
			}
		}
	}

	&:nth-child(1) {
		#{$this}__index::before {
			background-image: url(../img/reason_01.png);
		}
	}
	&:nth-child(2) {
		#{$this}__index::before {
			background-image: url(../img/reason_02.png);
		}
	}
	&:nth-child(3) {
		#{$this}__index::before {
			background-image: url(../img/reason_03.png);
		}
	}
	&:nth-child(4) {
		#{$this}__index::before {
			background-image: url(../img/reason_04.png);
		}
	}
	&:nth-child(5) {
		#{$this}__index::before {
			background-image: url(../img/reason_05.png);
		}
	}
	&:nth-child(6) {
		#{$this}__index::before {
			background-image: url(../img/reason_06.png);
		}
	}
	&:nth-child(7) {
		#{$this}__index {
			background-image: url(../img/reason_07.png);
		}
	}

	&__inner {
		display: flex;
		gap: 96px;

		@include is-sp {
			gap: 32px;
			flex-direction: column;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: calc(50% - 28px);

		@include is-sp {
			width: 100%;
			order: 1;
		}
	}

	&__index {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
		z-index: 1;
		width: 104px;
		height: 104px;
		border-image: linear-gradient(to right, $main-color-dark, $main-color-light)
			1;
		border: 1px solid;

		@include is-sp {
			width: 80px;
			height: 80px;
		}

		&::before {
			content: "";
			position: relative;
			width: 57px;
			height: 70px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			@include is-sp {
				width: 40px;
				height: 48px;
			}
		}

		@include is-sp {
			margin-bottom: 8px;
		}
	}

	&__ttl {
		@include fz(32);
		font-weight: $bold;
		line-height: 1.7;
		@include ls(2);
		z-index: 1;

		@include is-tab {
			@include fz(24);
			line-height: 1.5;
			letter-spacing: 0;
		}

		@include is-sp {
			margin-top: 10px;
			@include fz(20);
			letter-spacing: 0;
		}

		span {
			color: $blue;
		}
	}

	&__desc {
		margin-top: 24px;
		line-height: 2;
		// font-weight: $semi-bold;
		z-index: 1;

		@include is-tab {
			margin-top: 16px;
		}

		@include is-sp {
			margin-top: 12px;
			@include fz(14);
		}
	}

	&__image {
		width: calc(50% - 28px);
		z-index: 1;

		@include is-tab {
			display: flex;
			align-items: center;
		}

		@include is-sp {
			width: 100%;
			order: 2;
		}

		figure {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-image: linear-gradient(
					to right,
					$main-color-dark 0,
					$main-color-light 100%
				);
				transform: translate(12px, 12px);
				box-shadow: none;
			}
		}

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;
			aspect-ratio: 4/3;
			// box-shadow: 16px 16px 0 $main-color-bg;
		}
	}
}
