@use "../../global-setting" as *;

.p-top-voice {
	&__body {
		position: relative;
		// margin-top: 20px;
		// margin-right: -10px;
		// margin-left: -10px;
		// margin-bottom: -10px;
		margin-top: 38px;

		@include is-sp {
			margin-right: 0;
			margin-left: 0;
		}
	}

	&__slider {
		width: 100%;
		margin: 0 auto;
		overflow: visible;
		// z-index: 0;
		// margin: 0 16px;
	}

	&__list {
		height: auto;
	}

	&__item {
		// width: calc(100% / 3);
		max-width: 580px;
		width: 100%;
		// height: auto;

		@include is-sp {
			width: 100%;
		}
	}

	&__item-inner {
		// height: 100%;
		padding: 10px;
	}
}

.p-post-voice {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: $radius;
	box-shadow: $box-shadow;
	// border: 1px solid $main-color-light;
	// box-shadow: 8px 8px 0 $main-color-light;
	padding: 24px 40px;
	// height: 100%;
	width: 560px;
	$this: &;

	&--standard {
		// border: 1px solid $main-color;
		// box-shadow: 8px 8px 0 $main-color;

		#{$this}__label {
			background-color: $main-color;
		}
	}

	&--premium {
		// border: 1px solid $main-color-dark;
		// box-shadow: 8px 8px 0 $main-color-dark;

		#{$this}__label {
			background-color: $main-color-dark;
		}
	}

	&__label {
		position: absolute;
		width: 288px;
		white-space: nowrap;
		top: 0;
		right: 0;
		color: $white;
		font-weight: $bold;
		background-color: $main-color-light;
		padding: 16px 24px;
		text-align: center;
	}

	&__profile {
		display: inline-flex;
		gap: 16px;
		align-items: center;
	}

	&__img {
		border-radius: $radius-circle;
		width: 80px;
		height: 80px;
		object-fit: cover;
	}

	&__name {
		@include fz(18);
	}

	&__ttl-wrap {
		display: flex;
		justify-content: center;
		margin-top: 16px;
	}

	&__ttl {
		@include fz(20);
	}

	&__desc {
		margin-top: 20px;
	}

	&__ba {
		margin-top: 40px;
		position: relative;
		display: flex;
		gap: 72px;
		justify-content: space-between;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url("../img/triangles.png");
			width: 48px;
			height: 20px;
		}
	}

	&__before,
	&__after {
		position: relative;
		width: calc(100% - 36px);
		padding: 20px;

		dt {
			position: absolute;
			color: $main-color;
			top: -0.9em;
			left: 1em;
		}
	}

	&__before {
		background-color: $main-color-bg;
	}

	&__after {
		background-color: $main-color-bg-light;
	}
}

.p-top-voice-slider-btn {
	margin-top: -48px;

	&--prev {
		left: calc(50% - 314px);
	}

	&--next {
		right: calc(50% - 314px);
	}
}

.p-top-voice-slider__pagination {
	position: relative;
	margin-top: 40px;

	.swiper-pagination-bullet {
		background-color: $secondary;
	}

	.swiper-pagination-bullet-active {
		background-color: $main-color;
	}
}
