// Font Family
$font: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック Medium",
	"Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN",
	"Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-en: "Poppins", sans-serif;
// $font-jp: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック Medium",
//   "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN",
//   "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

// Font weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ex-bold: 900;

// Color
$primary-transparent: rgba(40, 40, 40, 0.03);
$black-transparent: rgba(40, 40, 40, 0.8);
$primary: rgb(40, 40, 40);
$primary2: #666;
$secondary: #828282;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.7);
$white-gray: #f8f8f8;
$white-gray2: #f0f1f1;
$white-gray-cat: rgba(211, 208, 16, 0.2);
$gray-pale: #8e879b;
$gray: #ccc;
$gray2: #ddd;
$bg-gray: rgba(0, 0, 0, 0.03);

$color-shadow-gray: #ebebeb;
$blue-link: #51d1e2;

$blue: #51d1e2;
$blue-thick: #3fa1ad;
$blue-hover: #44bece;
$blue-shadow: rgba(81, 209, 226, 0.5);
// $blue-pale: #afe8ef;
// $blue-pale: #d9fbff;
$blue-pale: #eff9fa;
$blue-pale: #f2fbfc;
$blue-alpha: rgba(75, 195, 210, 0.7);
$blue-alpha2: rgba(75, 195, 210, 0.8);
$yellow: #dedc12;
$yellow-pale: #e9e8ab;
$yellow-hover: #cac70f;
$yellow-shadow: rgba(211, 208, 16, 0.5);
$yellow-alpha: rgba(211, 208, 16, 0.7);
$yellow-alpha2: rgba(211, 208, 16, 0.8);
$red: #ec7163;

// Border
$color-border-gray: #ddd;
$color-border-gray2: #e5e5e5;

// Border Radius
$radius: 12px;
$radius-sm: 4px;
$radius-round: 50px;
$radius-circle: 50%;
// $radius-bg: 100px;
// $radius-bg-sp: 80px;

// Shadow
$box-shadow-header: 0 6px 9px -4px rgba(10, 10, 10, 0.03),
	0 6px 10px 5px rgba(10, 10, 10, 0.01);
$box-shadow: 0 4px 10px -2px rgba(0, 16, 14, 0.08),
	0 4px 20px 8px rgba(0, 16, 14, 0.03);
$box-shadow-lg: 0px 4px 10px -2px rgba(0, 16, 14, 0.08),
	0px 16px 32px 0px rgba(0, 0, 0, 0.08);
$box-shadow-circle: 0 8px 18px -2px rgba(0, 12, 16, 0.078),
	0 8px 36px 16px rgba(0, 12, 16, 0.031);
// $box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
// $box-shadow: 0 5px 8px rgba(0,0,0,.14);
// $box-shadow: 0 8px 18px -2px rgb(0 16 14/8%), 0 8px 36px 16px rgb(0 16 14/3%);
$box-shadow-blue: 0px 4px 10px -2px rgba(81, 209, 226, 0.5),
	0px 16px 32px 0px rgba(81, 209, 226, 0.5);
$box-shadow-yellow: 0 4px 10px -2px rgba(211, 208, 16, 0.4),
	0 16px 32px 0px rgba(211, 208, 16, 0.2);
// $box-shadow-yellow: 0 4px 10px -2px rgba(211, 208, 16, 0.4),
// 	0 4px 20px 8px rgba(211, 208, 16, 0.2);
$box-shadow3-blue: 0 8px 16px rgba(81, 209, 226, 0.5);
$box-shadow3-yellow: 0 8px 16px rgba(211, 208, 16, 0.5);
$box-shadow3: 0 8px 16px rgba(0, 12, 16, 0.12);
$box-shadow-post: 0px 4px 10px -2px rgba(0, 16, 14, 0.08),
	0px 4px 20px 8px rgba(0, 16, 14, 0.03);

// Hover
$opacity: 0.7;

// Width
$content-width: 1200px;
$content-width-narrow: 1000px;
$content-width-tiny: 800px;
$ratio-golden-lg: 61.83%;
$ratio-golden-sm: 38.16%;
$ratio-shilver-lg: 70.75%;
$ratio-shilver-sm: 29.25%;
$ratio-16-9: 56.25%;
$ratio-4-3: 75%;
$ratio-3-2: 66.67%;

// Padding
$side-padding: 80px;
$side-padding-tb: 40px;
$side-padding-sp: 24px;
$grid-item-padding: 20px;
$grid-item-padding-sp: 16px;

$header-height-pc: 72px;
$header-height-tab: 72px;
$header-height-sp: 64px;

// Transition
$transition: 0.3s;

// Easing
// $ease: cubic-bezier(0.19, 1, 0.22, 1);
// $ease: cubic-bezier(0.46, 0.05, 0.02, 0.99);
$ease: cubic-bezier(0.36, 0.14, 0, 1);
$ease-fade: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-mask: cubic-bezier(0.76, 0.09, 0.215, 1);

// z-index
$zindex-modal: 21;
$zindex-header: 20;
$zindex-menu: 19;
$zindex-scroll-hint: 18;
$zindex-swiper-button: 5;
$zindex-video: -1;
$zindex-voice-bg: -1;
